@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #f9f7f3;
    --primary-color: #0fa3b1;
    --secondary-color: #b5e2fa;
    --text-color: #080708;
    --accent-color: #eddea4;
    --accent1-color: #f7a072;
    --font-size: 1rem;
    --line-height: 32px;
    --text-decoration: none;
    --ul-li: none;
    --img-size: max-width 100%;
   

}

body {
    font-family: "Poppins", sans-serif;
    background: var(--white-color);
   
}
a{
    text-decoration: var(--text-decoration);
    color: var(--text-color);
}


ul {
list-style: var(--ul-li);
}
img{
    max-width: var(--img-size);
    }
    /* navbar */
    .navbar {
    background: var(--white-color);
   padding: 20px;
    }

    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .main-menu ul{
        display: flex;
        align-items: center; /* Ensures items within the menu are aligned */
       }
    .navbar .main-menu ul a{
        margin: 0 20px;
        display: block;
        font-size: 16px;
        font-weight: 500;
        
        transition: 0.5s ease-in-out;
    }
       .navbar .main-menu ul a:hover{
        color: var(--primary-color);
        text-decoration: underline;
        text-decoration-color: var(--primary-color);
       }

       .navbar ul li :last-child a {
        margin-left: 10px;
       }
    /* navbar */
    /* hero */
    .hero {
        margin-bottom: 50px;
    
    }
    .hero .container {
    background: url(./assets/hero-bg.png) no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 550px;
    }
.container .hero-content {
    width: 70%;
}

.hero .hero-title{
    line-height: 2.7rem;
}
.hero .hero-text{
    width: 70%;
    margin-bottom:20px ;
}
 
    /* hero */
/* utility classes */
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-small{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}
/* buttons */
.btn-primary {
    display: inline-block;
    border-radius: 8px; /* Smaller border radius for a less rounded button */
    background: var(--primary-color);
    padding: 10px 15px; /* Reduced padding for a smaller button */
    color: #fff;
    font-weight: 400; /* Adjusted font weight for a less bold appearance */
    font-size: 14px; /* Adjust font size for better scaling */
    text-decoration: none; /* Ensure no underline by default */
    transition: background 0.3s ease, transform 0.3s ease; /* Smooth transition */
    cursor: pointer;
}

.btn-primary:hover{
    background:var(--secondary-color);
   }
.btn-secondary {
    display: inline-block;
    border-radius: 8px; /* Smaller border radius for a less rounded button */
    background: var(--accent1-color);
    padding: 10px 15px; /* Reduced padding for a smaller button */
    color: #fff;
    font-weight: 400; /* Adjusted font weight for a less bold appearance */
    font-size: 14px; /* Adjust font size for better scaling */
    text-decoration: none; /* Ensure no underline by default */
    transition: background 0.3s ease, transform 0.3s ease; /* Smooth transition */
    cursor: pointer;
}
.btn-secondary:hover{
    background:var(--accent-color);
   }

/* buttons */
/* text-classes */
.text-xxl {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4rem;
    margin: 40px 0px 20px;
}

.text-xl{
    font-size: 2.2rem;
    font-weight: normal;
    margin: 40px 0 20px;
    line-height: 1.4rem;
    margin: 40px 0px 20px;
}
.text-lg{
 font-size: 1.8rem;
 font-weight: normal;
 line-height: 1.4rem;
 margin: 30px 0px 20px;
}
.text-md{
 font-size: 1.2rem;
 font-weight: normal;
 line-height: 1.4rem;
 margin: 20px 0px 20px;
}
.text-sm{
 font-size: 0.9rem;
 font-weight: normal;
 line-height: 1.1rem;
 margin: 20px 0px 10px;
}

.text-center {
    text-align: center;
}

}
/* text-classes */

/* utility classes */